.header__container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
  background-color: #000;
  @media (min-width: 768px) {
    display: none;
  }
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

  &:nth-child(1) {
    transform: translateY(-10px);
  }
  &:nth-child(3) {
    transform: translateY(10px);
  }
}

.header.open .header__burger-btn span {
  background-color: white;

  &:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
}

// .header__burger-btn span:nth-child(1) {
//   transform: translateY(-10px);
// }

// .header__burger-btn span:nth-child(3) {
//   transform: translateY(10px);
// }

// .header.open .header__burger-btn span {
//   background-color: white;
// }

// .header.open .header__burger-btn span:nth-child(1) {
//   transform: translateY(0) rotate(45deg);
// }

// .header.open .header__burger-btn span:nth-child(2) {
//   opacity: 0;
// }

// .header.open .header__burger-btn span:nth-child(3) {
//   transform: translateY(0) rotate(-45deg);
// }

.header.open .menu {
  transform: translateX(-100%);
}
.menu {
  position: absolute;
  /* left: -182px; */
  top: 0;
  right: -182px;
  width: 182px;
  height: 208px;
  padding: 51px 15px;
  // background-color: blueviolet;
  transition: transform 0.5s;
  @media (min-width: 768px) {
    position: static;
    width: auto;
    padding: 0;
    height: 50px;
  }
}

.menu__list {
  display: block;
  align-items: center;
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  background-color: #f5f5f5;
  @media (min-width: 768px) {
    display: flex;
    background-color: #ffffff;
    justify-content: space-evenly;
    gap: 30px;
  }
  @media (min-width: 1200px) {
    gap: 65px;
  }
}

// .menu__item:not(:last-child) {
//   margin-right: 20px;
// }

.menu__link {
  color: #4e4e4e;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.1px;
  &:hover {
    color: #57a4a4;
  }
}
